	
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

*{
	font-family:arial;
}
#loginbox
{
		font-family: arial;
		margin: 0 auto;
		width: 310px;
		border: 1px solid #888;
		padding: 50px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px 0px #888;
		line-height: 35px;
	}
	#loginbox-container
	{
		width: 200px;
	}
	