body {
	background-color: #FFDF5E;
}
*{
	font-family:arial;
}

#registerbox{
	background-color: #DB94B8;
	font-family: arial;
	float: right;
	width: 310px;
	border: 1px solid #888;
	padding: 50px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #888;
	line-height: 35px;
	margin-top: 100px;
}
	
h1 { 
	font-size: 35px;
	text-align: center;
	color: #393939;
}
